<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="3fa4940ec4c3ae91cd7bf1d6" />
    </application>
</manifest>